.customTabs {
  :global(.ant-tabs-nav-wrap) {
    margin-left: 20px !important;
  }
  :global(.ant-tabs-tab) {
    padding: 10px 70px !important;
    font-weight: 600;
    border: 1px solid rgb(141, 177, 190) !important;
    background: white !important;
    transition: all 0.5s ease;

    &:hover {
      background: rgb(160, 203, 219) !important;
      cursor: pointer;
    }
  }

  :global(.ant-tabs-tab.ant-tabs-tab-active) {
    background: rgb(43, 83, 98) !important;

    .ant-typography {
      color: white !important;
    }
  }
}
