// container
// Split layout custom
.splitCustomContainer {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.splitFalseCusContainer {
  display: grid;
  grid-template-columns: 7fr 7fr;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.cardHover {
  position: relative;
  overflow: hidden;

  &:hover {
    .cardImg {
      transform: translateY(0) scale(1.03);
      opacity: 1;
    }

    .cardBtn {
      transform: translateY(0);
    }
  }
}

.cardImg {
  transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(20px);
  opacity: 0;
}

.cardBtn {
  transition: transform 0.45s cubic-bezier(0.22, 1, 0.36, 1);

  transform: translateY(-16px); // hơi lệch lên trên
  will-change: transform;
}
