// container
// Split layout custom
.splitCustomContainer {
  display: grid;
  grid-template-columns: 5fr 7fr;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
.splitFalseCusContainer {
  display: grid;
  grid-template-columns: 6fr 7fr;
  align-items: center;
  justify-content: center;
  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}

.dotCustom {
  :global(.slick-dots.slick-dots-bottom) {
    display: flex;
    justify-content: flex-start;
    gap: 19px;
    margin: 0 0 100px 100px;
  }

  :global(.slick-dots li button::before) {
    display: none !important;
  }

  :global(.slick-dots li) {
    width: 30px !important;
    height: 30px !important;
    padding: 0 !important;
  }

  :global(.slick-dots li button) {
    width: 30px !important;
    height: 30px !important;
    border-radius: 50% !important;
    background: rgb(218, 216, 216) !important;
    padding: 0 !important;
    clip-path: inset(0 0 0 50%);
    transition: all 0.3s ease;
    opacity: 0.9 !important;
  }
}

.dotTrainCustom {
  :global(.slick-slider) {
    height: 100%;
  }

  :global(.slick-list) {
    height: 100%;
  }

  :global(.slick-dots) {
    position: relative !important;
    bottom: 0 !important;
  }
  :global(.slick-dots.slick-dots-bottom) {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 14px;
  }

  :global(.slick-dots li button::before) {
    display: none !important;
  }

  :global(.slick-dots li) {
    width: 16px !important;
    height: 16px !important;
    padding: 0 !important;
  }

  :global(.slick-dots li button) {
    width: 16px !important;
    height: 16px !important;
    border-radius: 50% !important;
    background: rgb(218, 216, 216) !important;
    padding: 0 !important;
    clip-path: inset(0 0 0 50%);
    transition: all 0.3s ease;
    opacity: 0.9 !important;
  }
}
