@import "tailwindcss";

.test-border {
  border: 1px solid red;
}

body,
html {
  margin: 0;
}

.test-absolute {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  background-color: #4a90e2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #f0f0f0;
  /* border: 1px solid #ccc; */
}

.ant-card-body {
  padding: 0 !important;
}

.ant-layout-content {
  overflow-y: auto !important;

  ::-webkit-scrollbar {
    display: none !important;
  }

  scrollbar-width: none !important;
}

/* carousel arrow css  */

.ant-carousel .slick-prev,
.ant-carousel .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;
  color: rgb(6, 6, 85) !important;
  font-weight: bolder !important;
  margin-top: 4px;
}

.ant-carousel .slick-prev {
  left: -47px !important;
  font-weight: bolder;
  background: white;
  border-radius: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}
.ant-carousel .slick-prev::after {
  left: 17px;
  margin-top: 12px;
}

.ant-carousel .slick-next {
  right: -8px;
  font-weight: bolder;
  background: white;
  border-radius: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.35);
}

.ant-carousel .slick-next::after {
  left: 12px;
  margin-top: 13px;
}

/* carousel dot css  */

.ant-carousel .slick-dots li.slick-active::after {
  background: #0f5787 !important;
  width: 100% !important;
  height: 100% !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.ant-carousel .dot-train .slick-dots li.slick-active::after {
  background: rgb(191, 124, 191) !important;
  width: 100% !important;
  height: 100% !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
}

.contact-collapse .ant-collapse-content {
  background: transparent !important;
}

.contact-collapse .ant-collapse-content-box {
  background: transparent !important;
}


