@import "tailwindcss";

.test-border {
  border: 1px solid red;
}

body,
html {
  margin: 0;
}

.test-absolute {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  transform: translate(-50%, -50%);
  background-color: #4a90e2;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-section {
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color: #f0f0f0;
  /* border: 1px solid #ccc; */
}

.ant-card-body {
  padding: 0 !important;
}

.ant-layout-content {
  overflow-y: auto !important;

  ::-webkit-scrollbar {
    display: none !important;
  }

  scrollbar-width: none !important;
}

.ant-carousel .slick-dots li.slick-active::after {
  background: #0f5787 !important;
  width: 100% !important;
  height: 100% !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 50% !important;
}

.ant-carousel .dot-train .slick-dots li.slick-active::after {
  background: rgb(191, 124, 191) !important;
  width: 100% !important;
  height: 100% !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50% !important;
}
